<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<script type="text/javascript" src="js/vue.js"></script>
<body>
    <!--view-->
    <div id="app">
        <h3>用户名:{{username}}</h3>
        <h3 v-if="isVip">用户类型:VIP</h3>
        <!--注意v-if与v-else中间不能有其他元素 -->
        <h3 v-else>用户类型:普通</h3>

        <hr>

        <h3>用户</h3>

        <h5 v-if="age==1">Man</h5>
        <h5 v-else-if="age==2">Student</h5>
        <h5 v-else>18</h5>

        <!--频繁切换用show比较好-->
        <!--<h5 v-show="age==1">Man</h5>
        <h5 v-show="age==2">Student</h5>
        <h5 v-show="age==3">18</h5>-->

        <button @click="change" data-id="1">1</button>
        <button @click="change" data-id="2">2</button>
        <button @click="change" data-id="3">3</button>

    </div>

    <script type="text/javascript">
        let app = new Vue({
            el: '#app',
            data: {
                username:"aaa",
                isVip:true,
                age:18
            },
            methods:{
                change:function (e) {
                    let id = e.target.dataset.id;
                    this.age = id;//app.age = id;
                }
            }
        });

        console.log(app);

    </script>
</body>
</html>