<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<script type="text/javascript" src="js/vue.js"></script>
<body>
    <div id="app">
        <h3>stars列表</h3>
        <ul>
            <li v-for="item in stars">
                {{item}}
            </li>
        </ul>

        <h3>学生列表</h3>
        <ul>
            <li v-for="s in student">
                {{s.name}} -- {{s.age}} -- {{s.school}}
            </li>
        </ul>

        <hr>

        <ul>
            <li v-for="s,key in student">
                {{key+1}} -- {{s.name}} -- {{s.age}} -- {{s.school}}
            </li>
        </ul>

        <hr>

        <ul>
            <li v-for="item,key in student[0]">
                {{key}} -- {{item}}
            </li>
        </ul>

        <img :src="student[0].img">

        <hr>
        <h3>偶数年龄的学生：</h3>
        <ol>
            <li v-for="item,key in student" v-if="item.age%2 == 0">
               {{item}}
            </li>
        </ol>

    </div>

    <script type="text/javascript">
        let app = new Vue({
            el: '#app',
            data: {
                stars:['aaa','bbb','ccc','ddd'],
                student:[
                    {
                        name:'小马',
                        age:16,
                        school:"清华",
                        img:"url"
                    },
                    {
                        name:'笑话',
                        age:18,
                        school:"北大"
                    },
                    {
                        name:'温度',
                        age:17,
                        school:"太难打"
                    }
                ]
            },
            methods:{

            }
        });

    </script>
</body>
</html>